---
layout: contact
title: Contact
permalink: /contact/
---
</br>
</br>

<div class="container mtb" >
          <!-- <h4>Contact</h4> -->
            <!-- <div class="hline"></div> -->
            {% for network in site.social %}
                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
            {% endfor %}

                <!-- <p>
                  <b>Address:</b><br>

                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p> -->
                <p>
                    <b>Email:</b> {{site.email}}<br/>
                </p>

                <p>
                Hi! My name is Kuan-Ju Wu and I'm a creative technologist and new media artist.
                <br></br>

                I love building interactive installation and tangible intefaces that connect people to each other and Nature.
                <br></br>

                Please feel free to contact me for consulting or collabration!
                </p>

                <!-- <a target="_blank" class="socialIcon"  href="https://www.instagram.com/dooflower/"> <img class="img-responsive" src="{{ "/assets/img/glyph-logo_May2016.png" | prepend: site.baseurl }}" alt=""> -->
</a>
</div><! --/container -->
