<div id="workwrap">
  <h3 class="a1">Teaching</h3>
    <div class="work-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems work">
            {% for project in site.categories['teaching'] limit:include.limit %}
                <div class="work-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                        <div class="he-view">
                          <a class="linkText" href="{{  project.url | prepend: site.baseurl }}">
                            <div class="bg a0" data-animate="fadeIn">
                                <!-- <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3> -->
                                <img class="outline" src = "{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.outline }}" alt="">
                                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>

                                <!-- <a data-rel="prettyPhoto" href="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a> -->
                                <!-- <a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
                            </div><!-- he bg -->
                          </a>
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- work -->
    </div><!-- work container -->
</div><!--/workwrap -->


<div id="workwrap">
  <h3 class="a1">Personal Work</h3>
    <div class="work-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems work">
            {% for project in site.categories['art'] limit:include.limit %}
                <div class="work-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                        <div class="he-view">
                          <a class="linkText" href="{{  project.url | prepend: site.baseurl }}">
                            <div class="bg a0" data-animate="fadeIn">
                                <!-- <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3> -->
                                <img class="outline" src = "{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.outline }}" alt="">
                                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>

                                <!-- <a data-rel="prettyPhoto" href="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a> -->
                                <!-- <a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
                            </div><!-- he bg -->
                          </a>
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- work -->
    </div><!-- work container -->
</div><!--/workwrap -->


<div id="workwrap">
  <h3 class="a1">Client Work</h3>
    <div class="work-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems work">
            {% for project in site.categories['tech'] limit:include.limit %}
                <div class="work-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                        <div class="he-view">
                          <a class="linkText" href="{{  project.url | prepend: site.baseurl }}">
                            <div class="bg a0" data-animate="fadeIn">
                                <!-- <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3> -->
                                <img class="outline" src = "{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.outline }}" alt="">
                                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>

                                <!-- <a data-rel="prettyPhoto" href="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a> -->
                                <!-- <a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a> -->
                            </div><!-- he bg -->
                          </a>
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- work -->
    </div><!-- work container -->
</div><!--/workwrap -->
